
:root{
    --tiaffy: #041514;
    --grape: #ADA2F9;
    --ube: #E1D7FC;
    --lime: #BCE784;

    /* background: var(--taffy, #041514);
    background: var(--grape, #ADA2F9);
    background: var(--ube, #E1D7FC);
    background: var(--lime, #BCE784); */
    
}



.textLinks{
    color: #000;
    font-size: 1.2rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25rem;
    text-decoration-line: underline;
}
@media only screen and (max-width: 768px){
    /* de 1400px para abajo se aplicaran los estilos para dispositivos mas pequeños */
    .textLinks{
        font-size: 1rem
    }
}

.textRegular{
    color: var(--taffy, #041514);
    font-size: 1.25rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0625rem;
}

.textBold{
    color: #000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.25rem;
    text-decoration: none;
}
@media only screen and (max-width: 1024px){
    /* de 1400px para abajo se aplicaran los estilos para dispositivos mas pequeños */
    .textRegular{
        font-size: 1rem;
    }
}
.textBold_tamano1{
    font-size: 3.5rem;
}
.textBold_tamano2{
    font-size: 1.3rem;
}
.textBold_tamano3{
    font-size: 2.3rem
}


